# Emacs temporary files
*~
\#*\#
.\#*

# Bundler artifacts
.bundle
bin/
Gemfile.lock
vendor/bundle

# Ruby / Rails operational files
.rvmrc
.ruby-version

# Anything temporary
*.old
*.swp
*.swo
tmp

# Rubygems artifacts
*.gem

# Test artifacts
coverage
spec/reports
test/tmp
test/version_tmp

# Documentation
.yardoc
_yardoc
doc
rdoc

